<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="resources/style/reset.css">
    <link rel="stylesheet" type="text/css" href="resources/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="resources/style/styles.css">
    <title>CD Haus | Your CD Collection</title>
</head>
<body data-ng-app="CDHaus" data-ng-controller="IndexController">
    <!-- SIDEBAR -->
    <aside class="sidebar shadow">
        <div class="sidebar__logo">
            <img class="sidebar__logo-disc" src="./resources/CD-Haus-logo.svg" alt="CD Haus Logo"/><span class="sidebar__logo-text">CD Haus</span>
        </div>
        <form>
            <label class="form__label" for="sign-in__username">User</label>
            <input type="text" name="user_id" id="sign-in__username" class="form__text-input" placeholder="Your email" data-ng-model="user_id"/>
            <label class="form__label" for="sign-in__password">Password</label>
            <input type="password" id="sign-in__password" class="form__text-input" placeholder="•••••••••" data-ng-model="password"/>
            <p class="sidebar__login-feedback">{{feedback}}</p>
            <input type="submit" value="{{buttonText}}" class="button" data-ng-click="loginHandler($event, user_id, password)" data-ng-init="buttonText='Sign In'"/>
        </form>
        <!-- LINK TO PHP TESTING PAGE-->
        <a href="server/testing.php">Testing page</a>
    </aside>
    <!-- END SIDEBAR -->
    <main class="main">
        <section data-ng-view>


        </section>
    </main>
    <!-- ANGULARJS LIBRARIES-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
    <!-- PROJECT JAVASCRIPT FILES -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</body>
</html>