<!-- TOP TOOLBAR -->
<header class="toolbar toolbar--top toolbar--focus shadow">
    <aside class="toolbar__column--single">
        <span class="icon-previous toolbar--focus-icon"></span>
        <a href="/cm0665-assignment/#/">Back to search</a>
    </aside>
</header>
<!-- END TOP TOOLBAR -->
<!-- MAIN CONTENT -->
<article class="main__content focus">
    <section class="focus__album">
        <article class="focus__album-artwork">
            <img data-ng-src="resources/music_artwork/{{chosenAlbum.Artwork}}" alt="Album Cover" onerror="this.src='resources/no-image.jpg'"/>
        </article>
        <article class="focus__album-title">
            <h2 class="focus__album-title-text">{{chosenAlbum.Album}} <span data-ng-show="chosenAlbum.Year != null">({{chosenAlbum.Year}})</span></h2>
            <h3><span class="highlight">by</span> {{chosenAlbum.Artists}}</h3>
        </article>
        <article class="focus__album-details">
            <p><span class="highlight--thin" data-ng-show="chosenAlbum.Genre != null">Genre:</span> {{chosenAlbum.Genre}}</p>
            <p><span class="highlight--thin">Duration:</span> {{chosenAlbum.Duration}}</p>
        </article>
    </section>
    <table class="data-table data-table--focus shadow">
        <thead class="data-table__headings">
        <tr>
            <th>#</th>
            <th class="data-table__quarter-width">Track</th>
            <th class="data-table__quarter-width">Artist</th>
            <th class="data-table__fifth-width">Duration</th>
            <th class="data-table__fifth-width">Size</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="track in tracks">
            <td>{{track.track_number}}</td>
            <td>{{track.Track}}</td>
            <td>{{track.Artist}}</td>
            <td>{{track.Duration}}</td>
            <td>{{track.Size}}</td>
        </tr>
        </tbody>
    </table>
    <!-- NOTES SECTION -->
    <section data-ng-controller="NotesController" data-ng-show="userID.length > 1 && signedIn === true">
        <h2 class="notes__title">Note</h2>
        <article class="notes" data-ng-show="albumHasNotes === true">
            <form>
                <section class="notes__display">
                    <label class="hidden" for="notes-edit"></label>
                    <textarea name="note-edit" class="notes__edit" disabled rows="2" id="notes-edit">{{albumNote}}</textarea>
                    <span class="icon-delete-note notes__icon" data-ng-click="deleteNote($event)"></span>
                    <input id="notes__button-update" class="button hidden" type="submit" name="update-note" value="update"/>
                </section>
            </form>
        </article>
        <form data-ng-show="albumHasNotes === false">
            <label class="hidden" for="notes-new"></label>
            <textarea class="form__text-input notes__text-input" placeholder="New note..." name="note" id="notes-new" data-ng-model="newNoteText"></textarea>
            <div class="sidebar__login-feedback">{{noteFeedback}}</div>
            <input class="button notes__button" type="submit" name="new-note" value="Add note" data-ng-click="newNote($event, newNoteText)"/>
        </form>
    </section>
    <!-- END NOTES SECTION -->
</article>
<!-- END MAIN CONTENT -->